{% extends "backstage.html" %}
{% block head %}
{{ super() }}

{% endblock head %}

{% block title %}BookStore{% endblock title%}

{% block content%}


<br/>
<div class="container-xl">
  <br/>
  <form method="post" enctype=multipart/form-data action={{ url_for('manager.edit') }}>
    <table class="table table-bordered">
      <tr>
        <th>方案編號</th>
        <td><input class="form-control" type="text" value="{{ data.商品編號 }}" name="pid" readonly class="id_input"></td>
      </tr>
      <tr>
        <th>方案名稱</th>
        <td><input class="form-control" type="text" value="{{ data.商品名稱 }}" name="name" required></td>
      </tr>
      <tr>
        <th>單價</th>
        <td><input class="form-control" type="text" value="{{ data.單價 }}" name="price" required></td>
      </tr>
      <tr>
        <th>類別</th>
        <td>
          <select class="form-control" name="category">
            {% if data.類別 == '基隆' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% elif data.類別 == '宜蘭' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% elif data.類別 == '臺北' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% elif data.類別 == '新北' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% elif data.類別 == '桃園' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% elif data.類別 == '新竹' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option><br/>
<div class="container-xl">
  <br/>
  <form method="post" enctype=multipart/form-data action={{ url_for('manager.edit') }}>
    <table class="table table-bordered">
      <tr>
        <th>方案編號</th>
        <td><input class="form-control" type="text" value="{{ data.商品編號 }}" name="pid" readonly class="id_input"></td>
      </tr>
      <tr>
        <th>方案名稱</th>
        <td><input class="form-control" type="text" value="{{ data.商品名稱 }}" name="name" required></td>
      </tr>
      <tr>
        <th>單價</th>
        <td><input class="form-control" type="text" value="{{ data.單價 }}" name="price" required></td>
      </tr>
      <tr>
        <th>類別</th>
        <td>
          <select class="form-control" name="category">
            {% if data.類別 == '基隆' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% elif data.類別 == '宜蘭' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% elif data.類別 == '臺北' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% elif data.類別 == '新北' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% elif data.類別 == '桃園' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% elif data.類別 == '苗栗' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% elif data.類別 == '台中' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% elif data.類別 == '南投' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% elif data.類別 == '雲林' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% elif data.類別 == '嘉義' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% elif data.類別 == '臺南' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% elif data.類別 == '屏東' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% elif data.類別 == '花蓮' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% elif data.類別 == '臺東' %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% else %}
            <option value="基隆">基隆</option>
            <option value="宜蘭">宜蘭</option>
            <option value="臺北">臺北</option>
            <option value="新北">新北</option>
            <option value="桃園">桃園</option>
            <option value="新竹">新竹</option>
            <option value="苗栗">苗栗</option>
            <option value="台中">台中</option>
            <option value="南投">南投</option>
            <option value="雲林">雲林</option>
            <option value="嘉義">嘉義</option>
            <option value="臺南">臺南</option>
            <option value="屏東">屏東</option>
            <option value="花蓮">花蓮</option>
            <option value="臺東">臺東</option>
            <option value="澎湖">澎湖</option>
            {% endif %}
            
        </select>
      </tr>
      <tr>
        <th>方案敘述</th>
        <td>
          <textarea class="form-control" name="description">{{ data.商品敘述 }}</textarea>
        </td>
      </tr>
      <!-- <tr>
        <th>旅遊圖片</th>
        <td>
          <input type="file" name="file" id="file-uploader" data-target="file-uploader"/>
        </td>
      </tr> -->
    </table>
    <center>
      <div class="option">
        <button class="btn btn-outline-success" type="submit">確定修改</button> 
        <a href="{{ url_for('manager.productManager') }}"><button class="btn btn-outline-danger">回方案管理</button></a>
      </div>
    </center>

  </form>
</div>



{% endblock content%}
