{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}BookStore{% endblock title%}

{% block content %}

{% set temp = 'img/product_img/' + data.商品圖片 %}
{% set temp2 = 'img/product_img2/' + data.商品圖片2 %}
<br/>
<div class="row">
<div class="card" style="width: 20rem;margin-left:5%">
  <img src={{ url_for('static', filename = temp  ) }} class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{ data.商品名稱 }}</h5>
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>商品類別</b>&nbsp;&nbsp;{{ data.類別 }}</li>
    <li class="list-group-item"><b>商品單價</b>&nbsp;&nbsp;{{ data.單價 }}</li>
  </ul>
  <div class="card-body">
    <a href="{{ url_for('bookstore.bookstore') }}" class="btn btn-outline-primary">回行程導覽</a>
  </div>
</div>


<div class="col-sm-6">
  <form method="post" action={{ url_for('bookstore.cart') }}>
<div class="card" style="margin-top:10%">
  <h5 class="card-header">行程介紹</h5>
  <div class="card-body">
    <p class="card-text">
      {{data.商品敘述}}
    </p>
    <button class="btn btn-outline-success" type="submit" value="{{data.商品編號}}" name="pid">選擇行程</a>
  </div>
  
</div>
</form>
</div>

<div class="card" style="width: 50rem;margin-left:25%">
<img src={{ url_for('static', filename = temp2  ) }}>
</div>
</div>

<div class="fatfooter">
  <div class="mar">
      <div class="fgrids">
          <div class="ftitles">旅遊路線</div>
        </div>
        <div class="fgrids">
          <div class="ftitles">公車時刻</div>
            <div class="flist">
              <a href="2-1_case_fees.html" class="mtitle">公車動態</a>
            </div>
            <div class="flist">
              <a href="2-1_case_fees.html" class="mtitle">附近站點查詢</a>
            </div>
            <div class="flist">
              <a href="#" class="mtitle">時刻票價查詢</a>
            </div>
        </div>
        <div class="fgrids">
          <div class="ftitles">購票資訊</div>
            <div class="flist">
              <a href="#" class="mtitle">線上訂票</a>  
            </div>
            <div class="flist">
              <a href="#" class="mtitle">超值套票</a>  
            </div>
            <div class="flist">
              <a href="#" class="mtitle">無障礙預約</a>  
            </div>
        </div>
        <div class="fgrids">
          <div class="ftitles">精采旅遊</div>
            <div class="flist">
              <a href="#" class="mtitle">旅遊景點</a>  
            </div>
            <div class="flist">
              <a href="#" class="mtitle">影音專區</a>  
            </div>
        </div>
        <div class="fgrids">
          <div class="ftitles">會員專區</div>
            <div class="flist">
              <a href="5-1_customer_service_step01.html" class="mtitle">會員資料</a>
            </div>
            <div class="flist">
              <a href="#" class="mtitle">旅行積分</a>
            </div>
        </div>
    </div>
</div>


{% endblock content%}
